* {
  box-sizing: border-box;
}

body {
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  color:  blue;
  text-align: center;
  line-height: 1.5;
  background-color: #def2f180;
  margin: 8px;
}

a {
  text-decoration: none;
  color: blueviolet;
}

a:hover, a:focus {
  color: rgba(0, 0, 255, 0.897);
}

.myName {
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 40px;
}

ul {
  list-style: none;
}

ul {
  margin: 0;
  padding: 0;
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-content: center;
}

ul.siteNav {
  font-size: 24px;
}

li {
  width: 100px;
  height: 25px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 25px;

}

header {
  display: flex;
  flex-direction: column;
  font-family: 'Montserrat', sans-serif;
  color: blue;
  padding-top: 20px;
  padding-left: 10px;
  padding-bottom: 10px;
  background-color: #def2f1cb;
}


.emailLink {
  margin-top: 35px;
  margin-bottom: 30px;
  border-spacing: 0;
  border-radius: 2px;
  padding: 8px 12px;
  border: 1px solid green;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  color: white; 
  text-decoration: none;
  font-weight: bold;
  display: inline-block;  
  background-color: green;
  width: 150px;
}

h1 {
  font-size: 32px;
  font-family: 'Montserrat', sans-serif;
  color: blue;
}

section {
  padding: 5px 0;
}

img {
  margin-right: 10px;
  max-width: 300px;
}

p {
  font-size: 16px;
  text-align: left;
}

a.simpsons, a.musefeed, a.homely, a.imbibe {
  padding-left: 25px;
}

footer {
  padding-top: 1px;
  padding-bottom: 2px;
  background-color: #3aafa96e;
  height: 120px;
  color: rgba(0, 0, 0, 0.582);
  }

h3 {
  margin-top: 13px;
  margin-bottom: 13px;
}

.social {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.fa {
  padding: 3px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 5px;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

@media only screen and (min-width: 768px) {
  body {
    padding: 5px 5px 0 5px;
  }
  
  header {
    flex-direction: row;
    justify-content: space-between;
    padding-top: 20px;
  }

  .myName {
    font-size: 26px;
    margin-bottom: 20px;
  }

  .siteNav > li {
    margin-right: 40px;
  }

  ul {
   flex-direction: row;
   justify-content: center;
  }

  li {
  margin-top: 0;
  margin-bottom: 0;
  }

.emailButton {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 10px;
  margin-right: 40px;
}

.emailLink {
  margin-bottom: 0;
}

h1 {
  padding: 40px;
}

.musefeed-images, .homely-images, .imbibe-images {
  display: inline-block;
  width: 100%;
  margin: 1px;
}

.musefeed_pic, .homely_pic {
  width: 31%;
  margin-right: 10px;
  justify-content: center;
}

.imbibe_pic {
  width: 31%;
  margin: 0px 10px 0px 0px;
  justify-content: center;
}

footer {
  padding-bottom: 30px;
}
} 

@media only screen and (min-width: 1024px) {
body {
  padding: 10px 10px 0 10px;
  }
  
.emailButton {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 10px;
  margin-right: 50px;
}

img {
  margin-right: 50px;
  max-width: 500px;
}
} 

/* flex-box version
.musefeed-images {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: nowrap;
  width: 100%;
  margin-left: 5px;
}

.musefeed_pic {
  width: 33%;
  margin-right: 10px;
}*/